.bordeNav {
    border-bottom: 2px solid #D6A23A;
}

.logoNav {
    width: 150px;
    height: fit-content;
}

.linkNav:hover {
    font-weight: bold;
}

.boton {
    border-color: #D6A23A;
    color: #D6A23A;
}

.boton:hover {
    background-color: #D6A23A;
    border-color: black;
}

.aviso {
    display: flex;
    align-content: center;
    justify-content: center;
}

.inputAviso {
    position: relative;
    flex: 1 1 auto;
    width: 1%;
    min-width: 0;
    border: 1px solid #ced4da;
    border-radius: 0.375rem;
}

.botonAceptar {
    border-color: #D6A23A;
    color: #D6A23A;
}

.botonAceptar:hover {
    background-color: green;
    border-color: rgb(1, 59, 1);
}

.bordeFoot {
    border-top: 2px solid #D6A23A;
}